# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view': [
    {
      'label': 'Toggle Active Files'
      'command': 'active-files:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Active Files'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'active-files:toggle'
        }
      ]
    ]
  }
]
